{% extends 'base.html' %}
{% block content %}

<h1>Card List</h1>

{% for yugioh_card in yugioh %}
<a href="{% url 'yugioh_detail' yugioh_card.id %}">
  <div class="card">
    <div class="card-content">
      <span class="card-title">{{ yugioh_card.name }}</span>
      <p>Type: {{ yugioh_card.type }}</p>
      <p>Description: {{ yugioh_card.description }}</p>
      {% if yugioh_card.stars > 0 %}
        <p>Stars: {{ yugioh_card.stars }}</p>
      {% else %}
        <p>Stars: Magic or Trap Card</p>
      {% endif %}
    </div>
  </div>
</a>
{% endfor %}

{% endblock %}